name: Application Image
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  Integration-Test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout PR Branch
        uses: actions/checkout@v4

      - name: Install MySQL
        run: |
          sudo apt-get update
          sudo apt-get install -y mysql-server
      
      - name: Configure MySQL
        env:
          DB_ROOT_PASSWORD: ${{ secrets.DB_ROOT_PASSWORD }}
          DB_USERNAME: ${{ secrets.DB_USERNAME }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_TEST_DATABASE: ${{ secrets.DB_TEST_DATABASE }}
        run: |
          sudo systemctl start mysql.service
          mysql -u root -proot -e "ALTER USER 'root'@'localhost' IDENTIFIED BY '${DB_ROOT_PASSWORD}';"
          mysql -u root -p"${DB_ROOT_PASSWORD}" -e "CREATE DATABASE IF NOT EXISTS ${DB_TEST_DATABASE};"
          mysql -u root -p"${DB_ROOT_PASSWORD}" -e "CREATE USER IF NOT EXISTS '${DB_USERNAME}'@'localhost' IDENTIFIED BY '${DB_PASSWORD}';"
          mysql -u root -p"${DB_ROOT_PASSWORD}" -e "GRANT ALL PRIVILEGES ON ${DB_TEST_DATABASE}.* TO '${DB_USERNAME}'@'localhost';"

      - name: Setup Node Environment
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install

      - name: Run Test
        env:
          PORT: ${{ secrets.PORT }}
          DB_USERNAME: ${{ secrets.DB_USERNAME }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_TEST_DATABASE: ${{ secrets.DB_TEST_DATABASE }}
          DB_HOST: ${{ secrets.DB_HOST }}
          ENVIRONMENT: ${{ secrets.TEST_ENV }}
        run: npm test

  Application-Image:
    runs-on: ubuntu-latest
    needs: Integration-Test

    steps:
      - name: Checkout PR Branch
        uses: actions/checkout@v4

      - name: Setup Node Environment
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Setup Packer
        uses: hashicorp/setup-packer@main
        with:
          version: latest
      
      - name: Packer Init
        run: packer init packer/

      - name: Build Application Artifacts
        run: npm run build

      - name: Packer Build
        env: 
          GCP_PACKER_CREDENTIALS: ${{ secrets.GCP_PACKER_CREDENTIALS }}
        run: |
          packer build -var project_id=${{ secrets.PAK_VAR_PROJECT_ID }} \
          -var zone=${{ secrets.PAK_VAR_ZONE }} \
          -var source_image_family=${{ secrets.PAK_VAR_SOURCE_IMAGE_FAMILY }} \
          -var ssh_username=${{ secrets.PAK_VAR_SSH_USERNAME }} \
          -var image_family=${{ secrets.PAK_VAR_IMAGE_FAMILY }} \
          -var machine_type=${{ secrets.PAK_VAR_MACHINE_TYPE }} \
          -var disk_size=${{ secrets.PAK_VAR_DISK_SIZE }} \
          -var disk_type=${{ secrets.PAK_VAR_DISK_TYPE }} \
          -var network=${{ secrets.PAK_VAR_NETWORK }} \
          -var environment=${{ secrets.PAK_VAR_ENVIRONMENT }} \
          packer/